#login_form
  %form{:action => '/albums', :method => :post}
    %label{:for => :last_fm_login}
      Your Last.fm login
    %br
    %input{:type => :text, :id => :last_fm_login, :name => :last_fm_login}
    %br
    %label{:for => :artists_limit}
      Artists limit
    %br
    %input{:type => :text, :id => :artists_limit, :name => :artists_limit, :value => 200}
    %br
    %input{:type => :submit, :value => 'Show albums!'}
